<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Info</title>
</head>
<body>
<h1>Database Info</h1>
<p>DynamoDB by AWS</p>
<p>Database Table Name: {{ database_dict.database_table_name }}</p>
<p>AWS Region: {{ database_dict.aws_region }}</p>
<p>Total Rows Data: {{ database_dict.total_rows_data }}</p>
<p>Learn more about <a href="https://aws.amazon.com/dynamodb/" target="_blank">DynamoDB by AWS</a>.</p>
</body>
</html>