<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Echo Page</title>
    <style>
        /* Style for the back button */
        .back-button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 8px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        /* Hover effect for the button */
        .custom-button:hover {
            background-color: #45a049; /* Darker Green */
        }

        /* Styling for the tables */
        table {
            width: 50%; /* Page width */
            border-collapse: collapse;
            margin: 20px auto; /* Center the table on the page */
        }

        /* Styling for table headers */
        th {
            background-color: #4CAF50; /* Light green */
            color: white;
            font-weight: bold;
        }

        /* Styling for alternating table rows */
        tr:nth-child(even) {
            background-color: #f2f2f2; /* Lighter green */
        }

        /* Styling for nested tables */
        table table {
            width: 100%;
            border-collapse: collapse;
            border: none;
        }

        /* Styling for nested table cells */
        table table td {
            padding: 8px;
            border: none;
        }

        /* Styling for the canvas */
        canvas {
            display: block;
            margin: 0 auto; /* Center the chart */
            width: 50%; /* Take up half of the width */
        }
    </style>
    <style>
        /* Centering the section */
        .links-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px; /* Adjust margin as needed */
        }

        /* Styling for the links */
        .links-container a {
            margin: 0 10px; /* Adjust margin between links as needed */
        }
    </style>
</head>
<body>
<h1>Texplorer</h1>

<!-- Display echoed file upload data -->
<div>

</div>
<div>
    {% if selected_option == "text_input" %}
        <h2>Provided Text Input Data:</h2>
        <p>{{ text_input }}</p>
        {#        <p>{{ analysis_result }}</p>#}

        <tr>
            <h2>Basic Text Analysis</h2>
            <h4 style="text-align: center;">Top 5 Common Words</h4>
            <canvas id="myChart" width="400" height="200"></canvas>

            <td>
                <table>
                    {% for key, value in analysis_result.basic_text_analysis_dict.items() %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>
                                {% if key == "estimated_reading_time" %}
                                    {{ value }} min(s)
                                {% else %}
                                    {{ value }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        <br>
        <tr>
            <h2>Sentiment Analysis</h2>
            <td>
                <table>
                    {% for key, value in analysis_result.sentiment_analysis_dict.items() %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>{{ value }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        <br>
        <tr>
            <h2>NLP Analysis</h2>
            <h4 style="text-align: center;">POS Tag Analysis</h4>
            <canvas id="posChart" width="400" height="200"></canvas>

            <td>
                <table>
                    {% for key, value in analysis_result.nlp_analysis_dict.items() %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>{{ value }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
            <div class="links-container">
                <p>For more information on POS tags, you can visit:</p>
                <ul>
                    <li><a href="https://stackoverflow.com/questions/15388831/what-are-all-possible-pos-tags-of-nltk"
                           target="_blank">Stack Overflow - Possible POS tags of NLTK</a></li>
                    <li><a href="https://www.ling.upenn.edu/courses/Fall_2003/ling001/penn_treebank_pos.html"
                           target="_blank">Penn Treebank POS Tags</a></li>
                </ul>
            </div>
        </tr>
        {#    {% elif selected_option == "files_input" %}#}
        {#        <h2>Echoed File Upload Data:</h2>#}
        {#        <ul>#}
        {#            <!-- Use Jinja templating syntax to iterate over each item in the list-->#}
        {#            {% for file_info in files_info %}#}
        {#                <li>Filename: {{ file_info.filename }}, Size: {{ file_info.file_size }} bytes</li>#}
        {#            {% endfor %}#}
        {#        </ul>#}
        {#        <h2>Analysis Results:</h2>#}
        {#        <ul>#}
        {#            <!-- Iterate over analysis results for each uploaded file -->#}
        {#            <!-- See routes.py for the var name hack I did for analysis_result to analysis_results  for easier front end code -->#}
        {#            {% for filename, result in analysis_result.items() %}#}
        {#                <li>Analysis Result for {{ filename }}: {{ result }}</li>#}
        {#            {% endfor %}#}
        {#        </ul>#}
        {#    {% elif selected_option == "files_input" %}#}
        {#        <h2>Echoed File Upload Data:</h2>#}
        {#        <ul>#}
        {#            <!-- Use Jinja templating syntax to iterate over each item in the list-->#}
        {#            {% for file_info in files_info %}#}
        {#                <li>Filename: {{ file_info.filename }}, Size: {{ file_info.file_size }} bytes</li>#}
        {#            {% endfor %}#}
        {#        </ul>#}
        {#        <h2>Analysis Results:</h2>#}
        {#        <ul>#}
        {#            <!-- Iterate over analysis results for each uploaded file -->#}
        {#            <!-- See routes.py for the var name hack I did for analysis_result to analysis_results for easier front end code -->#}
        {#            {% for filename, result in analysis_results.items() %}#}
        {#                <li>Analysis Result for {{ filename }}: {{ result }}</li>#}
        {#            {% endfor %}#}
        {#        </ul>#}
    {% elif selected_option == "files_input" %}
        <h2>Echoed File Upload Data:</h2>
        <ul>
            <!-- Use Jinja templating syntax to iterate over each item in the list-->
            {% for file_info in files_info %}
                <li>Filename: {{ file_info.filename }}, Size: {{ file_info.file_size }} bytes</li>
                <li>
                    <h2>Analysis Results for {{ file_info.filename }}:</h2>
                    <!-- Detailed analysis for each uploaded file -->
                    <h3>Basic Text Analysis:</h3>
                    <table>
                        {% for key, value in file_info.analysis_result.basic_text_analysis_dict.items() %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ value }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <br>
                    <h3>Sentiment Analysis:</h3>
                    <table>
                        {% for key, value in file_info.analysis_result.sentiment_analysis_dict.items() %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ value }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <br>
                    <h3>NLP Analysis:</h3>
                    <h4 style="text-align: center;">POS Tag Analysis</h4>
                    <canvas id="posChart_{{ loop.index }}" width="400" height="200"></canvas>
                    <table>
                        {% for key, value in file_info.analysis_result.nlp_analysis_dict.items() %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ value }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </li>
            {% endfor %}
        </ul>
    {% elif selected_option == "news_article_sources" %}
        <h2>Selected News Provider Random Article Analysis:</h2>
        <p>Selected Provider: {{ selected_name }}</p>
        <p>Provider URL: <a href="{{ selected_url }}">{{ selected_url }}</a></p>
        <br>
        <p>Selected News Article Link: <a href="{{ article_link }}">{{ article_link }}</a></p>
        {#        <p>{{ analysis_result }}</p>#}

        <tr>
            <h2>Basic Text Analysis</h2>
            <h4 style="text-align: center;">Top 5 Common Words</h4>
            <canvas id="myChart" width="400" height="200"></canvas>

            <td>
                <table>
                    {% for key, value in analysis_result.basic_text_analysis_dict.items() %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>
                                {% if key == "estimated_reading_time" %}
                                    {{ value }} min(s)
                                {% else %}
                                    {{ value }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        <br>
        <tr>
            <h2>Sentiment Analysis</h2>
            <td>
                <table>
                    {% for key, value in analysis_result.sentiment_analysis_dict.items() %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>{{ value }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        <br>
        <tr>
            <h2>NLP Analysis</h2>
            <h4 style="text-align: center;">POS Tag Analysis</h4>
            <canvas id="posChart" width="400" height="200"></canvas>

            <td>
                <table>
                    {% for key, value in analysis_result.nlp_analysis_dict.items() %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>{{ value }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
            <div class="links-container">
                <p>For more information on POS tags, you can visit:</p>
                <ul>
                    <li><a href="https://stackoverflow.com/questions/15388831/what-are-all-possible-pos-tags-of-nltk"
                           target="_blank">Stack Overflow - Possible POS tags of NLTK</a></li>
                    <li><a href="https://www.ling.upenn.edu/courses/Fall_2003/ling001/penn_treebank_pos.html"
                           target="_blank">Penn Treebank POS Tags</a></li>
                </ul>
            </div>
        </tr>
    {% endif %}
    <br>
    <button class="back-button" onclick="window.location.href = '/';">Go Back to Mainpage</button>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% if selected_option != "files_input" %}
    <script>
        // Extracting data from Python dictionary
        const topNWordsData = {{ analysis_result.basic_text_analysis_dict.top_n_words | tojson }};

        // Extracting words and frequencies
        const words = topNWordsData.map(item => item[0]);
        const frequencies = topNWordsData.map(item => item[1]);

        // Creating a new Chart instance
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: words,
                datasets: [{
                    label: 'Word Frequency',
                    data: frequencies,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)', // Light green
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
    <script>
        // Extracting data from Python dictionary
        const posCountData = {{ analysis_result.nlp_analysis_dict.pos_count | tojson }};

        // Define a mapping of POS tags to their full names
        // https://stackoverflow.com/questions/15388831/what-are-all-possible-pos-tags-of-nltk
        // https://www.ling.upenn.edu/courses/Fall_2003/ling001/penn_treebank_pos.html
        const posTagNames = {
            'NN': 'Noun',
            'DT': 'Determiner',
            'NNP': 'Proper Noun',
            'IN': 'Preposition or Subordinating Conjunction',
            'NNS': 'Plural Noun',
            'JJ': 'Adjective',
            ',': 'Comma',
            'PRP': 'Personal Pronoun',
            'RB': 'Adverb',
            'VB': 'Verb (base form)',
            'VBD': 'Verb (past tense)',
            'TO': 'to',
            'VBP': 'Verb (non-3rd person singular present)',
            '.': 'Period',
            'VBG': 'Verb (gerund or present participle)',
            'VBZ': 'Verb (3rd person singular present)',
            'CC': 'Coordinating Conjunction',
            "''": 'Closing quotation mark',
            '``': 'Opening quotation mark',
            'PRP$': 'Possessive Pronoun',
            'CD': 'Cardinal Number',
            'VBN': 'Verb (past participle)',
            'WDT': 'Wh-Determiner',
            'MD': 'Modal',
            'RP': 'Particle',
            '$': 'Dollar Sign',
            'WRB': 'Wh-Adverb',
            'POS': 'Possessive Ending',
            'WP': 'Wh-Pronoun',
            'JJS': 'Adjective (superlative)',
            ':': 'Colon',
            'JJR': 'Adjective (comparative)',
            'RBR': 'Adverb (comparative)'
        };

        // Extracting top 5 POS tags and their counts
        const top5PosCount = Object.entries(posCountData)
            .sort((a, b) => b[1] - a[1]) // Sort by count in descending order
            .slice(0, 5); // Get the top 5 entries

        // Extracting labels (POS names) and data (counts) for the chart
        const posLabels = top5PosCount.map(item => posTagNames[item[0]]);
        const posCounts = top5PosCount.map(item => item[1]);

        // Creating a new Chart instance
        var ctx = document.getElementById('posChart').getContext('2d');
        var posChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: posLabels,
                datasets: [{
                    label: 'POS Tag Count',
                    data: posCounts,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)', // Light green
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
{% endif %}
</body>
</html>