<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Textplorer Analysis</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="../static/js/render_data.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/textplorer-styling.css">
</head>
<body>
<h1>Texplorer</h1>

<div class="button-row">
    <button class="green-button back-button" onclick="window.open('/database_info', '_blank');">Go to Database Info
    </button>
    <button class="green-button" onclick="window.open('/health_check', '_blank');">Healthcheck</button>
    <button class="green-button monitoring-button" onclick="window.open('/monitoring', '_blank');">Prometheus
        Monitoring (must be running locally)
    </button>
    <button class="green-button metrics-button" onclick="window.open('/metrics', '_blank');">Prometheus Metrics Dump
    </button>
    <button class="green-button"
            onclick="window.open('https://addons-sso.heroku.com/apps/8aed9f88-f321-47da-bd2e-8e24833d06cc/addons/3fcb00e1-ec19-4c53-850c-0b56522390ac', '_blank');">
        Better Time Production Monitoring
    </button>
</div>


<!-- Display echoed file upload data -->
<div>

</div>
<div>
    {% if selected_option == "text_input" %}
        <h2>Provided Text Input Data:</h2>
        <p>{{ text_input }}</p>
        {# <p>{{ analysis_result }}</p> #}

        <div id="analysis-results-text-input" style="display: none;">
            <div>
                <h2>Basic Text Analysis</h2>
                <h4 style="text-align: center;">Top 5 Common Words</h4>
                <canvas id="myChart-text-input" width="400" height="200"></canvas>
                <div id="basic-text-analysis-container-text-input"></div>
            </div>
            <br>
            <div>
                <h2>Sentiment Analysis</h2>
                <div id="sentiment-analysis-container-text-input"></div>
            </div>
            <br>
            <div>
                <h2>NLP Analysis</h2>
                <h4 style="text-align: center;">POS Tag Analysis</h4>
                <canvas id="posChart-text-input" width="400" height="200"></canvas>
                <div id="nlp-analysis-container-text-input"></div>

                <div class="links-container">
                    <p>For more information on POS tags, you can visit:</p>
                    <ul>
                        <li>
                            <a href="https://stackoverflow.com/questions/15388831/what-are-all-possible-pos-tags-of-nltk"
                               target="_blank">Stack Overflow - Possible POS tags of NLTK</a></li>
                        <li><a href="https://www.ling.upenn.edu/courses/Fall_2003/ling001/penn_treebank_pos.html"
                               target="_blank">Penn Treebank POS Tags</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <p id="loading-message-text-input">Loading analysis result...</p>
    {% elif selected_option == "files_input" %}
        <p id="loading-message-files-input">Loading analysis result...</p>
        <div id="files_input-container"></div>
        {#        <p id="simpletest1"></p>#}
    {% elif selected_option == "news_article_sources" %}
        <h2>Selected News Provider Random Article Analysis:</h2>
        <p>Selected Provider: {{ selected_name }}</p>
        <p>Provider URL: <a href="{{ selected_url }}">{{ selected_url }}</a></p>
        <br>
        <p id="link-news-article" style="display: none;">Selected News Article Link: <a
                href="{{ article_link }}">{{ article_link }}</a></p>
        {#        <p>{{ analysis_result }}</p>#}
        <h2>Provided Text Input Data:</h2>
        <p id="text-data-news-article">{{ text_input }}</p>
        {# <p>{{ analysis_result }}</p> #}

        <div id="analysis-results-news-article" style="display: none;">
            <div>
                <h2>Basic Text Analysis</h2>
                <h4 style="text-align: center;">Top 5 Common Words</h4>
                <canvas id="myChart-news-article" width="400" height="200"></canvas>
                <div id="basic-text-analysis-container-news-article"></div>
            </div>
            <br>
            <div>
                <h2>Sentiment Analysis</h2>
                <div id="sentiment-analysis-container-news-article"></div>
            </div>
            <br>
            <div>
                <h2>NLP Analysis</h2>
                <h4 style="text-align: center;">POS Tag Analysis</h4>
                <canvas id="posChart-news-article" width="400" height="200"></canvas>
                <div id="nlp-analysis-container-news-article"></div>

                <div class="links-container">
                    <p>For more information on POS tags, you can visit:</p>
                    <ul>
                        <li>
                            <a href="https://stackoverflow.com/questions/15388831/what-are-all-possible-pos-tags-of-nltk"
                               target="_blank">Stack Overflow - Possible POS tags of NLTK</a></li>
                        <li><a href="https://www.ling.upenn.edu/courses/Fall_2003/ling001/penn_treebank_pos.html"
                               target="_blank">Penn Treebank POS Tags</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <p id="loading-message-news-article">Loading analysis result...</p>

        {#        <script>#}
        {#            processSingleInputData({{ analysis_result | tojson }});#}
        {#        </script>#}
    {% endif %}
    <br>
    <button class="green-button back-button" onclick="window.location.href = '/';">Go Back to Mainpage</button>
</div>

{% if selected_option != "files_input" %}
    <script>
        console.log("am i here 1?")
        var selected_option = "{{ selected_option }}";
        console.log("Selected Option:", "{{ selected_option }}");
        var requestid = "{{ requestid }}";
        pollForResult(selected_option, requestid)
    </script>
{% else %}
    <script>
        console.log("am i here 2?")
        var selected_option = "{{ selected_option }}";
        var requestid = "{{ requestid }}";
        console.log("Selected Option:", "{{ selected_option }}");
        console.log("Request ID:", requestid);
        pollForResult(selected_option, requestid);
    </script>
{% endif %}

{#<script>#}
{#    var selected_option = "{{ selected_option }}";#}
{#    console.log("Selected Option:", "{{ selected_option }}");#}
{#    if (selected_option === "text_input") {#}
{#        var requestid = "{{ requestid }}";#}
{#        pollForResult(selected_option, requestid)#}
{#    }#}
{#    if (selected_option === "files_input") {#}
{#        var requestid_list = {{ requestid_list | tojson }};#}
{#        pollForFileInputsResults(selected_option, requestid_list);#}
{#    }#}
{#    if (selected_option === "news_article_sources") {#}
{#        var requestid = "{{ requestid }}";#}
{#        pollForResult(selected_option, requestid)#}
{#    }#}
{#</script>#}

</body>
</html>